#spot-address div{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #717171;
}

#owner-buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.spot-owner-buttons{
    border: none;
    background-color: #db0d64;
    color: #fff;
    border-radius: 12px;
    height: 36px;
    margin: 5px;
    font-weight: 600;
    width: 100%;
}

.spot-owner-buttons:hover{
    cursor: pointer;
    color: #db0d64;
    background-color: #FFF;
    border: 1px solid #db0d64;
}

#user-spots-header-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#user-spots-header{
    padding: 0 40px;
    font-size: 20px;
    font-weight: 600;
}