.form-container{
    border-radius: 10px;
    background-color: #FFF;
}

.header-div{
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
}

.submit-button{
    border: none;
    background-color: #db0d64;
    color: #fff;
    width: 100%;
    border: default;
    border-radius: 5px;
    margin: 5px;
}

.signup-form{
    margin: 10px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}