.spot-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 292px);
    grid-template-rows: auto;
    grid-gap: 40px 24px;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .spot-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1008px) and (min-width: 650px){
    .spot-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.centering-spot-container {
    display: flex;
    justify-content: center;
    padding: 0 40px;
}