#content-container{
    display: flex;
    justify-content: center;
    padding: 0 40px;
    color: #222;
}

.spot-body-container{
    width: 925px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stats-star-container{
    margin-right: 4px;
}

#stats-num-reviews{
    margin-left: 4px;
}

#stats-location{
    margin-left: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 250px;
}

.spot-name-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.spot-name-container h1{
    font-weight: 500;
    font-size: 1.5em;
    margin: 0
}

#spot-description-container{
    width: 100%;
    margin-top: 24;
    font-size: 16px;
}

.bottom-containers{
    border-top: 1px #DDD solid;
    padding: 1em 0;
}

.spot-stats{
    display: flex; 
    margin-top: 4px; 
    align-items: center;
}

#picture-container-div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-pictures-container{
    padding-top: 24px;
    width: 925px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
}

#single-picture-container{
    width: 462px;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDD;
    border-radius: 15px 0 0 15px;
}

#single-picture-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 0 0 15px;
}

.image-rows img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#single-picture-container i{
    object-fit: cover;
}

.image-columns{
    padding-left: 8px;
    width: 232px;
}

.image-rows{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top-row-image{
    margin-bottom: 8px;
}

.top-right{
    border-top-right-radius: 15px;
}

.bottom-right{
    border-bottom-right-radius: 15px;
}

.top-row-image.top-right img{
    border-top-right-radius: 15px;
}

.row-image.bottom-right img{
    border-bottom-right-radius: 15px;
}

.row-image{
    height: 228.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
}

.big-spot-info{
    font-size: 22px;
    font-weight: 800;
}

#big-review-count{
    padding-left: 6px;
}

.review-button{
    border: none;
    background-color: #db0d64;
    color: #fff;
    border-radius: 12px;
    height: 36px;
    margin: 5px 0;
    font-weight: 600;
    margin-left: 2rem;
}

.review-button:hover{
    cursor: pointer;
    color: #db0d64;
    background-color: #FFF;
    border: 1px solid #db0d64;
}

#big-stats{
    font-size: 22px;
    font-weight: 550;
    height: 54px;
    margin-top: 24px;
}

#big-star{
    margin-right: 8px;
}

#spot-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spot-info-name-owner{
    font-size: 1.5em;
    width: 467px;
    margin-bottom: 24px;
}

#spot-info-left{
    width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/* #spot-info-right{

} 

#raised-spot-card{
    width: 275px;
    height: 100%;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 10px #DDD;
    border-radius: 15px;
    padding: 24px;
}

#spot-raised-card-ratings{
    display: flex;
}

#raised-spot-card-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

#spot-card-review-stats{
    display: flex;
}

.reservation-form-container{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation-form-dates{
    display: flex;
}

.reservation-dates-error{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}

.reservation-form-date-left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    border-right-color: transparent;
}

.reservation-form-date-left:focus, .reservation-form-date-right:focus{
    border: 1px solid black;
    border-radius: 5px;
}

.reservation-form-date-left:focus + .reservation-form-date-right{
    border-left-color: transparent;
}

.reservation-form-date-right{
    border: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}

.reservation-form input{
    width: 50%;
    box-sizing: border-box;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    padding: 0 5px;
}

.reserve-button{
    border: none;
    background-color: #db0d64;
    color: #fff;
    border-radius: 12px;
    height: 36px;
    font-weight: 600;
    width: 100%;
}

.reserve-button:hover{
    cursor: pointer;
    color: #db0d64;
    background-color: #FFF;
    border: 1px solid #db0d64;
}

.booking-prices-container{
    padding-top: 24px;
}

.booking-prices-flex:first-child{
    padding-top: 0;
}

.booking-prices-total{
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.booking-data-flex{
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.booking-prices-flex{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
 */
