.review-container{
    /* height: 140px; */
    margin-bottom: 40px;
}

.review-user-name{
    font-size: 1em;
    font-weight: 600;
}

.review-user-date{
    font-size: 14px;
    color: #717171
}

.review-header{
    height: 40px;
    display: flex;
    align-items: center;
}

.review-info-container{
    margin-bottom: 12px;
    display: flex;
    width: 540px;
    justify-content: space-between;
}

.delete-review-button{
    border: none;
    background-color: #db0d64;
    color: #fff;
    border-radius: 12px;
    height: 36px;
    margin: 5px 0;
    font-weight: 600;
    margin-left: 4rem;
}

.delete-review-button:hover{
    cursor: pointer;
}

.review-user-info{
    margin-right: 20px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

.users-review{
    width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}