.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 924px;
    margin: auto;
}

#home-button{
    background-image: url(../../../public/lairbnb.png);
    width: 82px;
    height: 78px;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-container{
    background-color: #FFF;
    border-bottom: 1px #DDD solid;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.menu-button-container{
    position: relative;
    
}

.menu-button{
    height: 42px;
    width: 74px;
    border: solid 1px #DDD;
    background-color: #FFF;
    border-radius: 25px;
    cursor: pointer;
}

.menu-button:hover{
    box-shadow: 0 2px 4px #DDD;
}

.icon-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #495966;
}

.popup-menu{
    position: absolute;
    border-radius: 6px;
    padding: 6px 0;
    box-shadow: 0 0 10px #DDD;
    background-color: #FFF;
    width: 200px;
    right: 0;
    top: 50px;
    z-index: 5;
}

.popup-menu-hidden{
    visibility: hidden;
}

.popup-menu-visible{
    visibility: visible;
}

.popup-menu-option{
    padding: 10px;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popup-menu-option-no-pointer{
    padding: 10px;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popup-menu-option:hover{
    background-color: lightgray;
    cursor: pointer;
}

#bottom-border{
    border-bottom: 1px solid #DDD;
}