.form-container{
    border-radius: 10px;
    background-color: #FFF;
    width: 100%;
    max-width: 568px;
}

.header-div{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    height: 62px;
    font-weight: 600;
    border-bottom: 1px #DDD solid;
}

.content-div{
    padding: 24px;
}

.content-header{
    font-weight: 600;
    font-size: 22px;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.input{
    border-radius: 5px;
    border: 1px rgb(138, 138, 138) solid;
}

.input:focus{
    outline-color: rgb(110, 110, 110);
}

.button-container{
    display: flex;
    justify-content: center;
}

.submit-button{
    border: none;
    background-color: #db0d64;
    color: #fff;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 48px;
    font-weight: 600;
}

.submit-button:hover{
    cursor: pointer;
}

.login-form{
    margin: 10px;
}

.input-container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 48px;
    margin: 5px 0;
}

.input-container input{
    height: 48px;
}

#form-button-container{
    margin-top: 20px;
}

#demo-user-login-button{
    margin-top: 10px;
}

textarea{
    font-family: 'Roboto', sans-serif;
}